
.logo {
    background: url(/img/logo.png) center center;
    background-size: 85%;
    background-repeat: no-repeat;
    height: 50px;
    margin: 5px 0;
}
.full-height {
    min-height: 100vh;
}

.main-menu {
    .ant-menu-item {
        padding-left: 24px;
        display: flex;
        align-items: center;
    }
}

.ant-layout-header {
    .anticon-menu-fold, .anticon-menu-unfold {
        padding: 0 20px;
        font-size: 20px;
    }
}