<template>
    <div id="account-page" class="mb-5">
        <b-container>
            <h1>Личный кабинет</h1>
            <div class="mt-3 problems">
                <div class="title">Обращения ожидающие ответа</div>
                <b-row>
                    <b-col
                        v-for="problem in problems"
                        v-bind:key="problem._id"
                        md="3"
                        sm="4"
                        class="mt-3"
                    >
                        <ProblemPreview
                            :problem="problem"
                        />
                    </b-col>
                </b-row>
            </div>
            <div class="mt-3 results">
                <div class="title">Решенные проблемы “до/после”</div>
                <b-row>
                    <b-col
                        v-for="problem in results"
                        v-bind:key="problem._id"
                        md="6"
                        class="mt-3"
                    >
                        <ProblemResults
                            :problem="problem"
                        />
                    </b-col>
                </b-row>                
            </div>
            <div class="mt-3 results">
                <div class="title">Отклоненные обращения</div>
                <b-row>
                    <b-col
                        v-for="problem in declined"
                        v-bind:key="problem._id"
                        md="6"
                        class="mt-3"
                    >
                        <ProblemResults
                            :problem="problem"
                        />
                    </b-col>
                </b-row>                
            </div>
        </b-container>
    </div>
</template>
<script>
    import ProblemPreview from '../components/ProblemPreview';
    import ProblemResults from '../components/ProblemResults';

    import ModalProblemCompare from '../components/ModalProblemCompare';
    export default {
        name: 'Home',
        components: {
            ProblemPreview,
            ProblemResults,
            ModalProblemCompare
        },
        data() {
            return {
                modalOpen: false,
                problems: [],
                stats: {
                    count: 0,
                    countProcess: 0,
                    completedCount: 0,
                    usersVoted: 0,
                    competitionsCount: 0
                },
                results: [],
                declined: [],
                problemsCount: 0,
                resultsCount: 0,
            }
        },
        mounted() {
            this.getProblems();
            this.getDeclined();
            this.getResults();
        },
        methods: {
            startChange() {
                if (this.$auth.check()) {
                    this.modalOpen = true
                } else {
                    this.$router.push({ name: 'login' })
                }
            },
            async getProblems() {
                const { data } = await this.$http.get('/problem/account');
                this.problems = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                
            },
            async getDeclined() {
                const { data } = await this.$http.get('/problem/account', { params: { status: 'declined' } });
                this.declined = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    resultPhoto: !!p.resultAttachments && !!p.resultAttachments.length && !!p.resultAttachments[0] && !!p.resultAttachments[0].link && (`${this.$config.backendUrl}${p.resultAttachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                
            },
            async getResults() {
                const { data } = await this.$http.get('/problem/account', { params: { status: 'completed' } });
                this.results = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    resultPhoto: !!p.resultAttachments && !!p.resultAttachments.length && !!p.resultAttachments[0] && !!p.resultAttachments[0].link && (`${this.$config.backendUrl}${p.resultAttachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
            },
            async getStats() {
                const { data } = await this.$http.get('/stats');
                this.stats = { ...this.stats, ...data };
            }
        },
        watch: {

        }
    }
</script>
<style lang="scss">
    .how-link.btn-blue {
        background: #0084F4;
        color: #fff!important;
        font-weight: bold;
        font-size: 24px;
        width: 100%;
        padding: 10px 20px;
    }
    .profit {
        .btn-blue {
            background: #0084F4;
            color: #fff!important;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 58px;
            width: 100%;
        }
        .btn-orange {
            background: #FFA26B;
            color: #fff!important;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 58px;
            width: 100%;
        }
    }

    .how-link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #0084F4;
    }
    .how-link:hover {
        text-decoration: none;
    }
    .stat-block {
        border: 1px solid #E5E5E5;
        padding: 41px 37px;
    }
    .stat-block .title {
        font-style: normal;
        font-weight: normal;
        font-size: 82px;
        line-height: 100px;
        color: #333;
    }
    .stat-block .label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #646464;
    }
    .results .title,
    .problems .title {
        font-size: 24px;
        line-height: 29px;
    }

    @media screen and (max-width: 768px) {
        h1.my-3 {
            font-size: 24px;
            margin-bottom: 30px!important;
        }
        .how-link.btn-blue {
            font-size: 14px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .svg {
                width: 11%;
            }
        }
        .stat-block {
            margin: 0 -15px;
        }
        .nav-item .nav-link {
            color: #0084F4 !important;
            background: transparent;
            border: none;

            &.btn-blue {
                color: #333!important;
            }
        }
    }

</style>
<style scoped>
</style>