<template>
    <div id="home-page" class="mb-5">
        <b-container>
            <b-row>
                <b-col class="my-md-5" md="7">
                    <h1 class="my-3 my-md-5">Сервис, с помощью которого ты можешь сделать свой город лучше.</h1>
                    <a class="how-link btn-blue" @click="startChange">
                        Начать изменения 
                        <svg width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M60.7071 8.70711C61.0976 8.31659 61.0976 7.68342 60.7071 7.2929L54.3431 0.928937C53.9526 0.538413 53.3195 0.538413 52.9289 0.928937C52.5384 1.31946 52.5384 1.95263 52.9289 2.34315L58.5858 8.00001L52.9289 13.6569C52.5384 14.0474 52.5384 14.6805 52.9289 15.0711C53.3195 15.4616 53.9526 15.4616 54.3431 15.0711L60.7071 8.70711ZM-8.74228e-08 9L60 9.00001L60 7.00001L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                        </svg>
                    </a>
                </b-col>
                <b-col md="5" class="text-right d-none d-md-block">
                    <img class="mt-5" :src="`${this.$config.backendUrl}assets/images/2.svg`" />
                </b-col>
            </b-row>
            <div class="d-block d-md-none mt-3 mt-md-5">
                <div class="stat-block">
                    <div class="title">{{stats.usersVoted}}</div>
                    <div class="label">пользователей проголосовало</div>
                </div>
                <div class="stat-block">
                    <div class="title">{{stats.competitionsCount}}</div>
                    <div class="label">всего голосов принято</div>
                </div>
                <div class="stat-block">
                    <div class="title">{{stats.count}}</div>
                    <div class="label">проблем внесено</div>
                </div>
                <div class="stat-block">
                    <div class="title">{{stats.countProcess}}</div>
                    <div class="label">проблем рассмотрено</div>
                </div>
                <div class="stat-block">
                    <div class="title">{{stats.completedCount}}</div>
                    <div class="label">проблем решено</div>
                </div>
            </div>
            <div class="d-none d-md-block">
                <b-row class="mt-3 mt-md-5">
                    <b-col class="pr-0" md="6">
                        <div class="stat-block">
                            <div class="title">{{stats.usersVoted}}</div>
                            <div class="label">пользователей проголосовало</div>
                        </div>
                    </b-col>
                    <b-col class="pl-0" md="6">
                        <div class="stat-block">
                            <div class="title">{{stats.competitionsCount}}</div>
                            <div class="label">всего голосов принято</div>
                        </div>
                    </b-col>
                    <b-col class="pr-0" md="4">
                        <div class="stat-block">
                            <div class="title">{{stats.count}}</div>
                            <div class="label">проблем внесено</div>
                        </div>
                    </b-col>
                    <b-col class="pl-0 pr-0" md="4">
                        <div class="stat-block">
                            <div class="title">{{stats.countProcess}}</div>
                            <div class="label">проблем рассмотрено</div>
                        </div>
                    </b-col>
                    <b-col class="pl-0" md="4">
                        <div class="stat-block">
                            <div class="title">{{stats.completedCount}}</div>
                            <div class="label">проблем решено</div>
                        </div>
                    </b-col>
                </b-row>
            </div>
            <div class="mt-3 problems">
                <div class="title" style="margin:35px 0 15px;">Проблемы города</div>
                <b-row>
                    <b-col
                        v-for="problem in problems"
                        v-bind:key="problem._id"
                        md="3"
                        sm="4"
                        class="mt-3"
                    >
                        <ProblemPreview
                            :problem="problem"
                        />
                    </b-col>
                </b-row>
                <div class="mt-3 subtitle">Общее количество проблем: {{problemsCount}}. <b style="cursor:pointer" @click="showAllProblems()">показать все</b></div>
            </div>
            <div class="my-3" style="margin:55px 0 0 !important;">
                <a class="how-link btn-blue" @click="voteCompleted">
                    Оценить выполненные
                    <svg width="61" height="16" viewBox="0 0 61 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M60.7071 8.70711C61.0976 8.31659 61.0976 7.68342 60.7071 7.2929L54.3431 0.928937C53.9526 0.538413 53.3195 0.538413 52.9289 0.928937C52.5384 1.31946 52.5384 1.95263 52.9289 2.34315L58.5858 8.00001L52.9289 13.6569C52.5384 14.0474 52.5384 14.6805 52.9289 15.0711C53.3195 15.4616 53.9526 15.4616 54.3431 15.0711L60.7071 8.70711ZM-8.74228e-08 9L60 9.00001L60 7.00001L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </a>
            </div>
            <div class="mt-3 results">
                <div class="title" style="margin:15px 0 15px;">Решенные проблемы “до/после”</div>
                <b-row>
                    <b-col
                        v-for="problem in results"
                        v-bind:key="problem._id"
                        md="6"
                        class="mt-3"
                    >
                        <ProblemResults
                            :problem="problem"
                        />
                    </b-col>
                </b-row>
                <div class="mt-3 subtitle">Общее количество решенных проблем: {{resultsCount}}. <b style="cursor:pointer" @click="showAllResults()">показать все</b></div>
            </div>
        </b-container>
        <ModalProblemCompare v-if="modalOpen" v-on:close="modalOpen = false" />
        <ModalCompletedCompare v-if="completedModalOpen" v-on:close="completedModalOpen = false" />
    </div>
</template>
<script>
    import ProblemPreview from '../components/ProblemPreview';
    import ProblemResults from '../components/ProblemResults';

    import ModalProblemCompare from '../components/ModalProblemCompare';
    import ModalCompletedCompare from '../components/ModalCompletedCompare';

    export default {
        name: 'Home',
        components: {
            ProblemPreview,
            ProblemResults,
            ModalProblemCompare,
            ModalCompletedCompare
        },
        data() {
            return {
                completedModalOpen: false,
                modalOpen: false,
                problems: [],
                stats: {
                    count: 0,
                    countProcess: 0,
                    completedCount: 0,
                    usersVoted: 0,
                    competitionsCount: 0
                },
                results: [],
                problemsCount: 0,
                resultsCount: 0,
            }
        },
        mounted() {
            this.getProblems();
            this.getStats();
            this.getResults();
        },
        methods: {
            startChange() {
                if (this.$auth.check()) {
                    this.modalOpen = true
                } else {
                    this.$router.push({ name: 'login' })
                }
            },
            voteCompleted() {
                if (this.$auth.check()) {
                    this.completedModalOpen = true
                } else {
                    this.$router.push({ name: 'login' })
                }
            },
            async getProblems() {
                const { data } = await this.$http.get('/problem');
                this.problems = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                this.problemsCount = data.count;
            },
            async getResults() {
                const { data } = await this.$http.get('/problem', { params: { status: 'completed' } });
                this.results = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    resultPhoto: !!p.resultAttachments && !!p.resultAttachments.length && !!p.resultAttachments[0] && !!p.resultAttachments[0].link && (`${this.$config.backendUrl}${p.resultAttachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                this.resultsCount = data.count;
            },
            async showAllProblems() {
                const { data } = await this.$http.get('/problem/full');
                this.problems = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                this.problemsCount = data.count;
            },
            async showAllResults() {
                const { data } = await this.$http.get('/problem/full', { params: { status: 'completed' } });
                this.results = data.problems.map(p => ({
                    photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    resultPhoto: !!p.resultAttachments && !!p.resultAttachments.length && !!p.resultAttachments[0] && !!p.resultAttachments[0].link && (`${this.$config.backendUrl}${p.resultAttachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                    status: 'open',
                    ...p
                }));
                this.resultsCount = data.count;
            },
            async getStats() {
                const { data } = await this.$http.get('/stats');
                this.stats = { ...this.stats, ...data };
            }
        },
        watch: {

        }
    }
</script>
<style lang="scss">
    .how-link.btn-blue {
        background: #0084F4;
        color: #fff!important;
        font-weight: bold;
        font-size: 24px;
        width: 100%;
        padding: 10px 20px;
        cursor: pointer;
    }
    .profit {
        .btn-blue {
            background: #0084F4;
            color: #fff!important;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 58px;
            width: 100%;
        }
        .btn-orange {
            background: #FFA26B;
            color: #fff!important;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 58px;
            width: 100%;
        }
    }

    .how-link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #0084F4;
    }
    .how-link:hover {
        text-decoration: none;
    }
    .stat-block {
        border: 1px solid #E5E5E5;
        padding: 41px 37px;
    }
    .stat-block .title {
        font-style: normal;
        font-weight: normal;
        font-size: 82px;
        line-height: 100px;
        color: #333;
    }
    .stat-block .label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #646464;
    }
    .results .title,
    .problems .title {
        font-size: 24px;
        line-height: 29px;
    }

    @media screen and (max-width: 768px) {
        h1.my-3 {
            font-size: 24px;
            margin-bottom: 30px!important;
        }
        .how-link.btn-blue {
            font-size: 14px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .svg {
                width: 11%;
            }
        }
        .stat-block {
            margin: 0 -15px;
        }
        .nav-item .nav-link {
            color: #0084F4 !important;
            background: transparent;
            border: none;

            &.btn-blue {
                color: #333!important;
            }
        }
    }

</style>
<style scoped>
</style>