<template>
    <div id="login-page">
        <div class="container">
            <h1 class="mb-4">Вход в личный кабинет</h1>
            <b-row>
                <b-col sm="12" md="4">
                    <b-alert variant="danger"
                        dismissible
                        :show="errorMsg != ''"
                        @dismissed="errorMsg=''">
                        {{errorMsg}}
                    </b-alert>
                    <b-form v-on:submit.prevent="onSubmit">
                        <b-form-group id="emailInputGroup" :state="isValid('email')" :feedback="errorMessage('email')">
                            <b-form-input id="email" placeholder="Емейл" type="text" v-model="form.email" :state="isValid('email')"></b-form-input>
                        </b-form-group>
                        <b-form-group id="passwordInputGroup" :state="isValid('password')" :feedback="errorMessage('password')">
                            <b-form-input id="password" placeholder="Пароль" type="password" v-model="form.password" :state="isValid('password')"></b-form-input>
                        </b-form-group>
                    </b-form>
                </b-col>
                <b-col class="d-flex flex-column justify-content-between pb-2" sm="12" offset-md="5" md="3">
                    <p class="note">Для входа в кабинет используйте емейл и пароль, указанные при регистрации</p>
                    <button @click="onSubmit" class="btn-orange">
                        Войти в кабинет
                        <svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.3536 4.35355C30.5488 4.15829 30.5488 3.84171 30.3536 3.64645L27.1716 0.464466C26.9763 0.269204 26.6597 0.269204 26.4645 0.464466C26.2692 0.659728 26.2692 0.976311 26.4645 1.17157L29.2929 4L26.4645 6.82843C26.2692 7.02369 26.2692 7.34027 26.4645 7.53553C26.6597 7.7308 26.9763 7.7308 27.1716 7.53553L30.3536 4.35355ZM0 4.5L30 4.5V3.5L0 3.5L0 4.5Z" fill="white"/>
                        </svg>
                    </button>
                </b-col>
            </b-row>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Login',

        data: function () {
            return {
                form: {
                    email: '',
                    password: '',
                },
                errors: {},
                errorMsg: ''
            }
        },
        methods: {
            onSubmit: function () {
                        const vm = this;
                        vm.errorMsg = '';
                        this.$auth.login({
                            data: this.form,
                            success: response => {
                                //vm.$socket.connect(vm.$config.staticUrl);
                                //vm.$events.emit('loadingEnd');
                            },
                            error: err => {
                                //vm.$events.emit('loadingEnd');
                                if (err.response.status === 400) {
                                    vm.errors = err.response.data.error.errors;
                                }
                                if (err.response.status === 401) {
                                    vm.errorMsg = err.response.data.message;
                                    vm.errors = {email: {msg: ""}, password: {msg: ""}};
                                }
                                if (err.response.status === 500) {
                                    vm.errorMsg = err.response.data.error.message;
                                }
                            }
                        });

            },
            isValid: function (key) {
                return this.errors.hasOwnProperty(key) ? 'invalid' : null;
            },
            errorMessage: function(key) {
                return this.errors.hasOwnProperty(key) ? this.errors[key].msg : '';
            }
        },
        watch: {
            'form.email': function () {
                delete this.errors.email;
            },
            'form.password': function () {
                delete this.errors.password;
            },
        }
    }
</script>
<style scoped>
    #login-page {
        padding: 15px 0;
        height: calc(100vh - 56px);
        display: flex;
        align-items: center;
    }
    h1 {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
    input.form-control {
        border: none;
        border-bottom: 1px solid #646464;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        font-size: 14px;
        color: #646464;
        padding: 0.375rem 0;
    }
    .note {
        font-weight: normal;
        font-size: 12px;
        color: #646464;
    }
    .btn-orange {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
</style>