<template>
    <div id="problem-create">
        <div class="mb-5" id="map"></div>
        <b-container class="my-3">
            <b-form v-on:submit.prevent="onSubmit">
                <b-form-group class="mb-4" id="addressInputGroup" :state="isValid('address')" :invalid-feedback="errorMessage('address')">
                    <b-form-input id="address" placeholder="Адрес" type="text" v-model="form.address" :state="isValid('address')"></b-form-input>
                </b-form-group>

                <b-form-group class="mb-4" id="descriptionInputGroup" :state="isValid('description')" :invalid-feedback="errorMessage('description')">
                    <b-form-textarea id="description" placeholder="Описание" :rows="5" :max-rows="10" no-resize v-model="form.description" :state="isValid('description')"></b-form-textarea>
                </b-form-group>

                <b-form-group class="mb-4" label="Приложения">
                    <UploadAttachments @output="applyAttachmentsChanges" />
                </b-form-group>

                <button class="btn-orange py-1 px-2" type="submit">
                    Сообщить о проблеме
                    <svg style="margin-left: 20px;" width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.3536 4.35355C30.5488 4.15829 30.5488 3.84171 30.3536 3.64645L27.1716 0.464466C26.9763 0.269204 26.6597 0.269204 26.4645 0.464466C26.2692 0.659728 26.2692 0.976311 26.4645 1.17157L29.2929 4L26.4645 6.82843C26.2692 7.02369 26.2692 7.34027 26.4645 7.53553C26.6597 7.7308 26.9763 7.7308 27.1716 7.53553L30.3536 4.35355ZM0 4.5L30 4.5V3.5L0 3.5L0 4.5Z" fill="white"/>
                    </svg>
                </button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
import validateMixins from '../../mixins/validate';
import UploadAttachments from '../../components/UploadAttachments';

export default {
    name: 'problem-create',
    mixins: [
        validateMixins([
            { key: 'form.address', errorKey: 'address' },
            { key: 'form.description', errorKey: 'description' },
        ])
    ],
    components: { UploadAttachments },
    data() {
        return {
            form: {
                address: '',
                description: '',
                coords: null,
                attachments: [],
            }
        }
    },
    mounted() {
        ymaps.ready(async () => {
            const userCoords = await this.getUserCoords();

            const map = new ymaps.Map('map', {
                center: userCoords,
                zoom: 12,
                controls: []
            });

            map.events.add('click', e => {
                const coords = e.get('coords');

                const addressErorr = error => {
                    this.errors = { ...this.errors, address: { msg: 'Адрес не был найден. Введите вручную' } }
                }

                fetch(`https://geocode-maps.yandex.ru/1.x/?format=json&geocode=${coords.reverse().join(',')}&results=1`)
                    .then(res => res.json())
                    .then(res => {
                        try {
                            const { response: { GeoObjectCollection } } = res;
                            if (GeoObjectCollection.featureMember.length) {
                                const address = GeoObjectCollection.featureMember[0].GeoObject;

                                this.form.address = address.description + ', ' + address.name;
                                this.form.coords = coords.reverse();
                            }
                        } catch (error) {
                            addressErorr(error);
                        }
                    })
                    .catch(addressErorr);
            });
        });
    },
    methods: {
        applyAttachmentsChanges(output) {
            this.form.attachments = output.newAttachments;
        },
        async onSubmit() {
            const form = { ...this.form };
            form.attachments = form.attachments.map(i => i.file);

            const fd = new FormData();

            for (let field in form) {
                if (Array.isArray(form[field])) {
                    for (let item of form[field]) {
                        fd.append(field, item);
                    }
                    continue;
                }
                fd.append(field, form[field]);
            }

            try {
                const res = await this.$http.post('/problem', fd);
                if (res.data.success) {
                    this.$swal('Проблема успешно оформлена', 'Спасибо за сообщение о проблеме!', 'success');
                    this.$router.push({ name: 'home' })
                }
            } catch (err) {
                if (err.response && err.response.data.error && err.response.data.error.errors && err.response.data.error.errors) {
                    this.errors = err.response.data.error.errors;
                }
            }

        },
        async getUserCoords() {
            const { geoObjects } = await ymaps.geolocation.get({
                autoReverseGeocode: false
            });

            return geoObjects.position
        },
    }
}
</script>

<style scoped>
    #map {
        height: 70vh;
        width: 100%;
    }
    textarea.form-control,
    input.form-control {
        border: none;
        border-bottom: 1px solid #646464;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        font-size: 14px;
        color: #646464;
        padding: 0.375rem 0;
        overflow: unset!important;
    }
    fieldset {
        font-size: 14px;
        color: #646464;
    }
</style>
