<template>
    <div id="problem-view">
        <b-container class="mt-5">
            <router-link class="back" :to="{ name: 'home' }">
                <svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.646445 4.35355C0.451183 4.15829 0.451183 3.84171 0.646445 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.73079 0.659728 4.73079 0.976311 4.53553 1.17157L1.7071 4L4.53553 6.82843C4.73079 7.02369 4.73079 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646445 4.35355ZM31 4.5H0.999998V3.5H31V4.5Z" fill="#FFA26B"/>
                </svg>
                Вернуться к списку
            </router-link>
            <div class="mt-5 problem">
                <b-row>
                    <b-col md="6">
                        <h1 class="mb-4">{{problem.address}}</h1>
                        <div class="description mb-4">{{problem.description}}</div>
                        <ShowAttachments :inputAttachments="problem.attachments" />
                        <div class="status mb-3" :style="`color: ${STATUSES[problem.status].color}`">
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.0459 3C2.71294 3 3e-07 5.71294 0 9.0459C-2.75e-07 12.3789 2.71294 15.0918 6.0459 15.0918C9.37886 15.0918 12.0918 12.3789 12.0918 9.0459C12.0918 5.71294 9.37886 3 6.0459 3ZM6.0459 4.00049C8.83842 4.00049 11.0913 6.25338 11.0913 9.0459C11.0913 11.8384 8.83842 14.0913 6.0459 14.0913C3.25338 14.0913 1.00049 11.8384 1.00049 9.0459C1.00049 6.25338 3.25338 4.00049 6.0459 4.00049ZM6.0459 5.79541C5.61907 5.79537 5.19641 5.8794 4.80205 6.04271C4.4077 6.20602 4.04937 6.4454 3.74754 6.74719C3.4457 7.04898 3.20626 7.40727 3.04289 7.8016C2.87953 8.19593 2.79543 8.61858 2.79541 9.04541C2.79537 9.47228 2.87942 9.89498 3.04275 10.2894C3.20609 10.6838 3.44552 11.0421 3.74736 11.3439C4.04921 11.6458 4.40756 11.8852 4.80194 12.0486C5.19633 12.2119 5.61903 12.2959 6.0459 12.2959C6.47273 12.2959 6.89538 12.2118 7.2897 12.0484C7.68403 11.885 8.04232 11.6456 8.34412 11.3438C8.64591 11.0419 8.88529 10.6836 9.0486 10.2893C9.21191 9.8949 9.29594 9.47224 9.2959 9.04541C9.29585 8.18347 8.95343 7.35685 8.34394 6.74736C7.73446 6.13788 6.90784 5.79546 6.0459 5.79541V5.79541Z" :fill="STATUSES[problem.status].color"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                    <rect width="16" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            {{STATUSES[problem.status].label}}
                        </div>
                        <div class="time">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.1494 12.298C7.36554 12.2979 8.55435 11.9372 9.56549 11.2615C10.5766 10.5858 11.3647 9.62544 11.8301 8.50185C12.2954 7.37826 12.4171 6.14191 12.1798 4.94915C11.9425 3.75638 11.3568 2.66077 10.4969 1.80086C9.63689 0.940949 8.54124 0.355353 7.34846 0.118125C6.15568 -0.119103 4.91935 0.00269061 3.79579 0.468106C2.67223 0.933521 1.71191 1.72165 1.03627 2.73284C0.360622 3.74403 2.57315e-09 4.93286 0 6.149C0.00164153 7.77938 0.650063 9.34251 1.80295 10.4953C2.95585 11.6481 4.51902 12.2965 6.1494 12.298ZM6.1494 1.0001C7.16776 1.00018 8.16323 1.30224 9.00993 1.86807C9.85663 2.4339 10.5165 3.2381 10.9062 4.17897C11.2958 5.11984 11.3977 6.15512 11.199 7.1539C11.0003 8.15269 10.5098 9.07012 9.78972 9.79017C9.06959 10.5102 8.15212 11.0006 7.15331 11.1992C6.15451 11.3978 5.11923 11.2958 4.1784 10.9061C3.23757 10.5163 2.43344 9.85637 1.86769 9.00962C1.30194 8.16287 0.99998 7.16737 1 6.149C1.0014 4.78377 1.54439 3.47487 2.5098 2.50955C3.47521 1.54424 4.78417 1.00137 6.1494 1.0001Z" fill="#0084F4"/>
                                <path d="M7.60738 7.97719C7.70835 7.97731 7.80699 7.94685 7.89032 7.88983C7.97366 7.83281 8.03777 7.7519 8.07423 7.65774C8.1107 7.56358 8.1178 7.46059 8.0946 7.36232C8.0714 7.26405 8.019 7.1751 7.94428 7.10719L6.64838 5.92719V2.18219C6.64838 2.04958 6.5957 1.9224 6.50193 1.82863C6.40816 1.73486 6.28098 1.68219 6.14838 1.68219C6.01577 1.68219 5.88859 1.73486 5.79482 1.82863C5.70105 1.9224 5.64838 2.04958 5.64838 2.18219V6.37009L7.27048 7.84679C7.36252 7.93085 7.48272 7.97737 7.60738 7.97719Z" fill="#0084F4"/>
                            </svg>
                            {{ moment(new Date(problem.created_at)).format('LLLL') }}
                        </div>
                        <div class="mt-3" v-if="problem.status === 'declined'">
                            <div v-if="problem.resultDescription">
                                Причина отказа: {{ problem.resultDescription }}
                            </div>
                            <div v-if="problem.resultAttachments && problem.resultAttachments.length">
                                Приложения при отказе
                                <ShowAttachments :inputAttachments="problem.resultAttachments" />
                            </div>
                        </div>
                        <div class="mt-3" v-else-if="problem.status === 'completed'">
                            <div v-if="problem.resultDescription">
                                Результат работы: {{ problem.resultDescription }}
                            </div>
                            <div v-if="problem.resultAttachments && problem.resultAttachments.length">
                                Приложения результата работы
                                <ShowAttachments :inputAttachments="problem.resultAttachments" />
                            </div>
                        </div>
                    </b-col>
                    <b-col md="6">
                        <div id="map"></div>
                    </b-col>
                </b-row>
            </div>
        </b-container>
    </div>
</template>
<script>

import moment from 'moment';
import ShowAttachments from '../../components/ShowAttachments';

const STATUSES = {
    open: { label: 'Открыта', color: '#FFA26B' },
    process: { label: 'В работе', color: '#FFA26B' },
    declined: { label: 'Отказана', color: '#FF647C' },
    completed: { label: 'Закрыта', color: '#00C48C' }
}

export default {
    name: 'problem-view',
    props: ['id'],
    components: { ShowAttachments },
    data() {
        return {
            STATUSES,
            problem: {
                status: 'open',
                attachments: [],
            }
        }
    },
    async mounted() {
        await Promise.all([
            new Promise((resolve, reject) => ymaps.ready(() => { resolve(); })),
            this.getProblem(this.id)
        ]);

        const map = new ymaps.Map('map', {
            center: this.problem.location,
            zoom: 12,
            controls: []
        });

        const placemark = new ymaps.Placemark();
        map.geoObjects.add(placemark);

        placemark.geometry.setCoordinates(this.problem.location);
    },
    methods: {
        moment,
        async getProblem(id) {
            try {
                const { data } = await this.$http.get(`/problem/${id}`);
                if (data.success === false) throw new Error();
                
                this.problem = { ...data };
            } catch (err) {
                console.log(err);
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    #map {
        min-height: 60vh
    }
    .back {
        color: #FFA26B;
        display: inline-flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
    h1 {
        font-size: 24px;
    }
    .description {
        font-size: 14px;
    }
</style>
