<template>
    <div class="container-wrapper">
        <b-container class="my-5">
            <b-row>
                <b-col cols="6" offset-md="3" md="3">
                    <ProblemCompetition :problem="pair[0]" v-on:onButtonClick="vote" />
                </b-col>
                <b-col cols="6" md="3">
                    <ProblemCompetition :problem="pair[1]" v-on:onButtonClick="vote" />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
import ProblemCompetition from './ProblemCompetition';
import { setTimeout } from 'timers';
import $ from 'jquery'

export default {
    name: 'CompareWrapper',
    props: ['pair', 'competition'],
    components: { ProblemCompetition },
    data() {
        return {

        }
    },
    mounted() {
        setTimeout(this.scroll, 0)
    },
    methods: {
        $,
        scroll() {
            const wrapper = $('.c-modal-wrapper .modal-body .container-wrapper');
            const scrollLeft = wrapper.offset().left + (wrapper.width() / 2);
            wrapper[0].scrollLeft = scrollLeft;
        },
        async vote(id) {
            await this.$http.post('/voting', { id, competition: this.competition });
            this.$emit('vote');
            this.scroll();
        },
    }
}
</script>
<style lang="scss" scoped>

</style>
