<template>
    <div class="c-modal-wrapper">
        <div class="c-modal">
            <span class="close" @click="$emit('close')">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.3733 0.626677C28.5377 -0.208919 27.1829 -0.208865 26.3473 0.626677L15 11.974L3.65265 0.626709C2.81708 -0.208886 1.46232 -0.208886 0.626702 0.626709C-0.20892 1.46236 -0.208883 2.8171 0.626707 3.6527L11.974 15L0.62674 26.3473C-0.20884 27.1829 -0.208882 28.5376 0.62674 29.3732C1.46236 30.2088 2.81711 30.2088 3.6527 29.3732L15 18.0259L26.3473 29.3732C27.1829 30.2088 28.5376 30.2089 29.3733 29.3732C30.2089 28.5376 30.2088 27.1829 29.3733 26.3473L18.0259 15L29.3733 3.65263C30.2089 2.81704 30.2089 1.46233 29.3733 0.626677Z" fill="#646464"/>
                </svg>
            </span>

            <div class="modal-body d-flex text-center flex-column justify-content-center">
                <div class="modal-title mt-1 mt-md-5">Что хуже?</div>
                <div class="subtitle mt-1 mt-md-4">Выберите актуальную для вас проблему, кликнув по ней</div>
                <CompareWrapper :pair="pair" :competition="competition" v-if="pair && pair.length === 2" @vote="getProblems" />
                <div v-else>
                    <div class="no-problems mb-3">Пар для голосования пока нет</div>
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M50 0C22.4138 0 0 22.4138 0 50C0 77.5862 22.4138 100 50 100C77.5862 100 100 77.5862 100 50C100 22.4138 77.5862 0 50 0ZM50 4.48276C75.1724 4.48276 95.8621 24.8276 95.8621 50C95.8621 75.1724 75.1724 95.8621 50 95.8621C24.8276 95.8621 4.48276 75.1724 4.48276 50C4.48276 24.8276 24.8276 4.48276 50 4.48276Z" fill="black"/>
                        <path d="M89.3103 49.6552C89.3103 46.8966 84.8276 46.8966 84.8276 49.6552C84.4828 68.6207 69.3103 84.1379 50 84.1379C31.0345 84.1379 15.5172 68.6207 15.5172 49.6552C15.5172 46.5517 11.0345 46.5517 11.0345 49.6552C11.0345 71.0345 28.6207 88.6207 50 88.6207C71.7241 88.6207 88.9655 71.3793 89.3103 49.6552Z" fill="black"/>
                        <path d="M74.1379 35.8621C74.1379 38.9655 78.6207 38.9655 78.2759 35.8621C78.2759 30.3448 73.7931 25.5172 68.2759 25.5172C62.4138 25.5172 57.931 30.3448 57.931 35.8621C57.931 38.9655 62.069 38.9655 62.069 35.8621C62.069 32.7586 64.8276 30 68.2759 30C71.3793 30 74.1379 32.7586 74.1379 35.8621Z" fill="black"/>
                        <path d="M21.7241 35.8621C21.7241 38.9655 26.2069 38.9655 26.2069 35.8621C26.2069 32.7586 28.6207 30 32.0689 30C35.1724 30 37.931 32.7586 37.931 35.8621C37.931 38.9655 42.4138 38.9655 42.4138 35.8621C42.4138 30.3448 37.5862 25.5172 32.0689 25.5172C26.2069 25.5172 21.7241 30.3448 21.7241 35.8621Z" fill="black"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CompareWrapper from './CompareWrapper';

export default {
    name: 'modal',
    props: ['open'],
    components: {  CompareWrapper },
    data() {
        return {
            competition: null,
            isEmpty: true,
            pair: []
        }
    },
    mounted() {
        this.getProblems();
    },
    methods: {
        async getProblems() {
            const { data } = await this.$http.get('/voting');
            this.competition = data.competition;
            this.pair = data.pair.map(p => ({
                photo: !!p.attachments && !!p.attachments.length && !!p.attachments[0] && !!p.attachments[0].link && (`${this.$config.backendUrl}${p.attachments[0].link}`) || `${this.$config.backendUrl}assets/images/noimage.png`,
                status: 'open',
                ...p
            }));
        },
    }
}
</script>

<style lang="scss">
    .c-modal-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.5);
        z-index: 100;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        .c-modal {
            position: relative;
            min-height: 70vh;
            width: 100%;
            background: #E5E5E5;
            .close {
                cursor: pointer;
                position: absolute;
                right: 70px;
                top: 60px;
                z-index: 1000;
            }
            .modal-body {
                .modal-title {
                    color: #0084F4;
                    font-size: 34px;
                }
                .subtitle {
                    font-size: 14px;
                    color: #646464;
                }
                .container {
                    width: 200%;
                }
            }
        }
        .no-problems {
            font-size: 48px;
        }
    }
    @media screen and (max-width: 768px) {
        .container-wrapper {
            overflow-y: scroll;
            margin: 0 -15px;
        }
        .c-modal-wrapper .c-modal .close {
            right: 20px;
            top: 20px;
        }
    }
</style>
