<template>
    <router-link :to="{ name: 'problem_view', params: { id: problem._id } }" style="text-decoration: none!important;">
    <div class="problem-card">
        <b-row>
            <b-col md="6">
                <div class="problem-photo" :style="`background-image: url('${problem.photo}')`" />
            </b-col>
            <b-col md="6">
                <div class="problem-photo" :style="`background-image: url('${problem.resultPhoto}')`" />
            </b-col>
        </b-row>
        <div class="info">
            <div class="title mb-2">{{problem.address}}</div>
            <div class="description mb-2">{{problem.description}}</div>
            <div class="meta d-flex justify-content-between align-items-center">
                <div class="status" :style="`color: ${STATUSES[problem.status].color}`">
                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.0459 3C2.71294 3 3e-07 5.71294 0 9.0459C-2.75e-07 12.3789 2.71294 15.0918 6.0459 15.0918C9.37886 15.0918 12.0918 12.3789 12.0918 9.0459C12.0918 5.71294 9.37886 3 6.0459 3ZM6.0459 4.00049C8.83842 4.00049 11.0913 6.25338 11.0913 9.0459C11.0913 11.8384 8.83842 14.0913 6.0459 14.0913C3.25338 14.0913 1.00049 11.8384 1.00049 9.0459C1.00049 6.25338 3.25338 4.00049 6.0459 4.00049ZM6.0459 5.79541C5.61907 5.79537 5.19641 5.8794 4.80205 6.04271C4.4077 6.20602 4.04937 6.4454 3.74754 6.74719C3.4457 7.04898 3.20626 7.40727 3.04289 7.8016C2.87953 8.19593 2.79543 8.61858 2.79541 9.04541C2.79537 9.47228 2.87942 9.89498 3.04275 10.2894C3.20609 10.6838 3.44552 11.0421 3.74736 11.3439C4.04921 11.6458 4.40756 11.8852 4.80194 12.0486C5.19633 12.2119 5.61903 12.2959 6.0459 12.2959C6.47273 12.2959 6.89538 12.2118 7.2897 12.0484C7.68403 11.885 8.04232 11.6456 8.34412 11.3438C8.64591 11.0419 8.88529 10.6836 9.0486 10.2893C9.21191 9.8949 9.29594 9.47224 9.2959 9.04541C9.29585 8.18347 8.95343 7.35685 8.34394 6.74736C7.73446 6.13788 6.90784 5.79546 6.0459 5.79541V5.79541Z" :fill="STATUSES[problem.status].color"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                            <rect width="16" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    {{STATUSES[problem.status].label}}
                </div>
                <div class="d-flex">
                    <div class="views mr-4">
                        <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.00702 0C4.36746 0 1.25929 2.26182 0 5.45454C1.25929 8.64727 4.36746 10.9091 8.00702 10.9091C11.6466 10.9091 14.7548 8.64727 16.014 5.45454C14.7548 2.26182 11.6466 0 8.00702 0ZM8.00702 9.09091C5.99799 9.09091 4.36747 7.46182 4.36747 5.45454C4.36747 3.44727 5.99799 1.81818 8.00702 1.81818C10.0161 1.81818 11.6466 3.44727 11.6466 5.45454C11.6466 7.46182 10.0161 9.09091 8.00702 9.09091ZM8.00702 3.27273C6.79869 3.27273 5.82329 4.24727 5.82329 5.45454C5.82329 6.66182 6.79869 7.63636 8.00702 7.63636C9.21535 7.63636 10.1908 6.66182 10.1908 5.45454C10.1908 4.24727 9.21535 3.27273 8.00702 3.27273Z" fill="#524B53"/>
                        </svg>
                        {{problem.impressions}}
                    </div>
                    <div class="rating">
                        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.0746 4.71751C16.0749 5.33783 15.9524 5.95209 15.7142 6.52494C15.4759 7.09779 15.1267 7.61793 14.6866 8.05543L8.80717 13.9393C8.60599 14.138 8.33432 14.2493 8.05139 14.2487C7.77048 14.2486 7.50104 14.1374 7.30202 13.9393L1.41621 8.05383C0.54633 7.17022 0.0593666 5.98011 0.060549 4.7407C0.0617315 3.5013 0.550965 2.31212 1.42253 1.43017C2.29409 0.548211 3.47798 0.0443014 4.71836 0.0273359C5.95874 0.0103704 7.15599 0.481711 8.05139 1.3395C8.71686 0.691791 9.55865 0.254431 10.4715 0.0820937C11.3844 -0.0902439 12.3279 0.0100864 13.184 0.370543C14.0402 0.730999 14.771 1.33559 15.2851 2.10874C15.7992 2.88188 16.0738 3.78928 16.0746 4.71751Z" fill="#524B53"/>
                        </svg>
                        {{problem.points}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </router-link>
</template>
<script>
const STATUSES = {
    open: { label: 'Открыта', color: '#FFA26B' },
    process: { label: 'В работе', color: '#FFA26B' },
    declined: { label: 'Отказана', color: '#FF647C' },
    completed: { label: 'Закрыта', color: '#00C48C' }
}

export default {
    name: 'ProblemPreview',
    props: ['problem'],
    data() {
        return {
            STATUSES
        }
    }
}
</script>
<style lang="scss" scoped>
    .problem-card {
        background: #EFEFEF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        .problem-photo {
            width: 100%;
            height: 250px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .info {
            padding: 15px 20px;
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .description {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #646464;
                height: 35px;
                overflow: hidden;
            }
            .views, .rating {
                font-weight: normal;
                font-size: 14px;
            }
        }
    }
</style>

