<template>
    <div class="problem-card">
        <div class="problem-photo" :style="`background-image: url('${problem.photo}')`" />
        <div class="info">
            <div class="title mb-2" :title="problem.address">{{problem.address}}</div>
            <div class="description mb-2">{{problem.description}}</div>
            <button class="btn-white" @click="$emit('onButtonClick', problem._id)">
                Выбрать
                <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9204 0.000513824C13.5974 0.00992751 13.2907 0.144674 13.0653 0.376226C12.7848 0.656813 10.9277 2.56572 9.01024 4.53497C7.45347 6.1338 6.35652 7.25859 5.73896 7.89045L2.26038 5.24105C2.13196 5.1293 1.98197 5.0451 1.81969 4.99366C1.65741 4.94223 1.4863 4.92466 1.31695 4.94203C1.14761 4.9594 0.98363 5.01135 0.835172 5.09465C0.686713 5.17796 0.556936 5.29084 0.453873 5.42634C0.35081 5.56183 0.276656 5.71704 0.236002 5.88235C0.195348 6.04766 0.18906 6.21955 0.217525 6.38739C0.245991 6.55523 0.308606 6.71543 0.401493 6.85809C0.49438 7.00075 0.615561 7.12283 0.757535 7.21676L5.11061 10.5334C5.35002 10.7156 5.64733 10.8048 5.94747 10.7845C6.24761 10.7643 6.53024 10.6359 6.74301 10.4233C7.02359 10.1427 8.88069 8.24025 10.7981 6.271C12.7155 4.30177 14.6933 2.26571 14.8273 2.13172C15.0058 1.95659 15.1274 1.73171 15.1761 1.48645C15.2249 1.24118 15.1986 0.98692 15.1007 0.756821C15.0028 0.526723 14.8378 0.331483 14.6272 0.196568C14.4167 0.061653 14.1704 -0.00667194 13.9204 0.000513824V0.000513824Z" fill="#0084F4"/>
                </svg>
            </button>
        </div>
    </div>
</template>
<script>
const STATUSES = {
    open: { label: 'Открыта', color: '#FFA26B' },
    process: { label: 'В работе', color: '#FFA26B' },
    declined: { label: 'Отказана', color: '#FF647C' },
    completed: { label: 'Закрыта', color: '#00C48C' }
}

export default {
    name: 'ProblemPreview',
    props: ['problem'],
    data() {
        return {
            STATUSES
        }
    }
}
</script>
<style lang="scss" scoped>
    .problem-card {
        text-align: left;
        background: #0084F4;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        .problem-photo {
            width: 100%;
            height: 250px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .info {
            padding: 15px 20px;
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #fff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .description {
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                color: #fff;
                height: 35px;
                overflow: hidden;
                overflow-y: auto;
            }
            .views, .rating {
                font-weight: normal;
                font-size: 14px;
            }
        }
        .btn-white {
            width: 100%;
            color: #0084F4;
            background: #fff;
            border: 0;
            border-radius: 10px;
            padding: 10px 0;
        }

        ::-webkit-scrollbar {
            width: 4px;
            background: transparent;
        }
        ::-webkit-scrollbar-track {
            border-radius: 4px;
            width: 4px;
            border-right: 1px solid #BDBDBD;
        }
        ::-webkit-scrollbar-thumb {
            background: #fff;
            width: 4px;
            border-radius: 4px;
        }
    }
</style>

