<template>
    <div class="attachments">                               
                            
        <div class="attachment" v-for="(attachment, idx) in existingAttachments" v-bind:key="attachment.id">
            <img v-if="isExistingImage(idx)" :src="$config.backendUrl + '/' + attachment.link" class="img-fluid img-attachment" @click="showImage(idx, 'existing')">
            <i v-else class="fa fa-file fa-3x img-attachment file-thumbnail-icon" alt="File" @click="downloadItem(attachment)">
                <span class="file-thumbnail-text">{{ attachment.name ? cutFileName(attachment.name) : '' }}</span>
            </i>
        </div>
        
        <div class="attachment" v-for="(attachment, idx) in newAttachments" v-bind:key="attachment.id">
            <img v-if="isNewImage(idx)" :src="attachment.src" class="img-fluid img-attachment" @click="showImage(idx, 'new');">
            <i v-else class="fa fa-file fa-3x img-attachment file-thumbnail-icon" alt="File">
                <span class="file-thumbnail-text">{{ attachment.name ? cutFileName(attachment.name) : '' }}</span>
            </i>
        </div>
        
        <ImageBox
        :images="formattedImages"
        :index="index"
        @close="index = null"
        :bgcolor="bgcolor"
        ></ImageBox>

    </div>
</template>

<script>
import uuidv4 from 'uuid/v4';
import ImageBox from "vue-image-box";

export default {
    name: 'ShowAttachments',
    components: {
        uuidv4,
        ImageBox
    },
    props: [`inputAttachments`],
    data() {
        return {        
            owner: {
                attachments: [],
                attachmentsIds: []
            },
            existingAttachments: [],
            deletedAttachments: [],
            newAttachments: [],
            mimeTypes: '',
            // for gallery down below
            index: null,
            bgcolor: "rgba(51, 51, 51, .9)",
            formattedImages: []
        }
    },
    mounted () {
        let types = this.$config.mimeTypes;
        this.mimeTypes = this.mimeTypes + types.microsoftOffice.join() 
        this.mimeTypes = this.mimeTypes + types.libreOffice.join() 
        this.mimeTypes = this.mimeTypes + types.images.join() 
        this.mimeTypes = this.mimeTypes + types.video.join() 
        this.mimeTypes = this.mimeTypes + types.audio.join() 
        this.mimeTypes = this.mimeTypes + types.other.join();
    },
    methods: {
        attachmentSelect (event) {
            const files = [...event.target.files].map(f => ({ file: f, id: uuidv4(), mimetype: f.type, name: f.name, size: f.size }));
            this.owner.attachments = [...this.owner.attachments, ...files];
            this.generateAttachments();
            event.target.value = '';
        },  
        formatImagesForGallery: function(){  
            let types = this.$config.mimeTypes;
            this.formattedImages = [];  

            this.existingAttachments.forEach(a=>{
                if (types.images.includes( a.mimetype )){ 
                    this.formattedImages.push({imageUrl: this.$config.backendUrl + a.link, ...a});
                }
            }) 

            this.newAttachments.forEach(a=>{
                if (types.images.includes( a.mimetype )){ 
                    this.formattedImages.push({imageUrl: a.src, ...a});
                }
            })
        },
        showImage: function(idx, type){  
            this.formatImagesForGallery();
            if (type == 'new') idx = this.existingAttachments.length + idx;

            this.allAttachments = this.existingAttachments.concat(this.newAttachments);
            this.formattedImages.forEach((image, index)=>{ 
                    if (image.id == this.allAttachments[idx].id){
                        this.index = index;
                    }
                })
        },
        isNewImage(idx){
            return this.$config.mimeTypes.images.includes( this.newAttachments[idx].mimetype );
        },
        isExistingImage(idx){
            return this.$config.mimeTypes.images.includes( this.existingAttachments[idx].mimetype );
        },
        downloadItem (file) {
            this.$http.get(this.$config.backendUrl + file.link, { responseType: 'blob' })
                .then(({ data }) => {
                    let blob = new Blob([data], { type: file.mimetype })
                    let link = document.createElement('a')
                    link.href = window.URL.createObjectURL(blob)
                    link.download = file.name
                    link.click()
                })
                .catch(error => {
                    console.error(error)
                })
        },
        cutFileName (fileName) {
            let re = /(?:\.([^.]+))?$/;
            let ext = re.exec(fileName)[1];    
            let name = fileName.substr(0, fileName.lastIndexOf(ext)-1);
            name.length > 6 ? name = name.substr(0, 6) + `...` : null;
            fileName = name + `.${ext}`;
            return fileName;
        }
    },
    watch: {
        'inputAttachments':{
            handler: function (newVal) { 
                if (newVal){
                    this.existingAttachments = newVal.slice(0);
                    newVal.forEach( a => {
                        this.owner.attachmentsIds.push(a.id);
                    });
                }
            },
            deep: true,
            immediate: true
        }
    }
}
</script>

<style scoped>
    .attachment {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        padding: 0;
        overflow: hidden;
        position: relative;
        transition: .3s;
    }
    .attachment {
        margin-right: 15px;
        display: inline-grid;
        border: 2px solid #EFEFEF;
    }
    .attachment > label {
        width: inherit;
        height: inherit;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .attachment:hover {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) !important;
    }
    .attachment > a {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        color: #fff!important;
        cursor: pointer;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .attachments {
        margin-bottom: 15px;
    }
    .load{
        margin-right: -5px;
    }
    .img-attachment{
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    .file-thumbnail-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .file-thumbnail-text {
        position: absolute;
        top: 125%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 0.25em;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
</style>
