<template>
    <div class="attachments">

        <div class="attachment load" >
            <label for="loadAttachment" >
                <i class="fa fa-paperclip fa-2x img-attachment" alt="File"></i>
            </label>
            <input @change="attachmentSelect" id="loadAttachment" name="loadAttachment" type="file" multiple :accept="mimeTypes">
        </div>                                
                            
        <div class="attachment" v-for="(attachment, idx) in existingAttachments" v-bind:key="attachment.id">
            <a class="a-close" @click="removeExistingAttachment(attachment, idx)"><i class="fa fa-times fa"></i></a>
            <img v-if="isExistingImage(idx)" :src="$config.backendUrl + '/' + attachment.link" class="img-fluid img-attachment" @click="showImage(idx, 'existing')">
            <i v-else class="fa fa-file fa-3x img-attachment file-thumbnail-icon" alt="File" @click="downloadItem(attachment)">
                <span class="file-thumbnail-text">{{cutFileName(attachment.name)}}</span>
            </i>
        </div>
        
        <div class="attachment" v-for="(attachment, idx) in newAttachments" v-bind:key="attachment.id">
            <a class="a-close" @click="removeNewAttachment(attachment)"><i class="fa fa-times fa"></i></a>
            <img v-if="isNewImage(idx)" :src="attachment.src" class="img-fluid img-attachment" @click="showImage(idx, 'new');">
            <i v-else class="fa fa-file fa-3x img-attachment file-thumbnail-icon" alt="File">
                <span class="file-thumbnail-text">{{cutFileName(attachment.name)}}</span>
            </i>
        </div>
        
        <ImageBox
        :images="formattedImages"
        :index="index"
        @close="index = null"
        :bgcolor="bgcolor"
        ></ImageBox>

    </div>
</template>

<script>
import uuidv4 from 'uuid/v4';
import ImageBox from "vue-image-box";

export default {
    name: 'UploadAttachments',
    components: {
        uuidv4,
        ImageBox
    },
    props: [`inputAttachments`],
    data() {
        return {        
            owner: {
                attachments: [],
                attachmentsIds: []
            },
            existingAttachments: [],
            deletedAttachments: [],
            newAttachments: [],
            mimeTypes: '',
            // for gallery down below
            index: null,
            bgcolor: "rgba(51, 51, 51, .9)",
            formattedImages: []
        }
    },
    mounted () {
        let types = this.$config.mimeTypes;
        this.mimeTypes = this.mimeTypes + types.microsoftOffice.join() 
        this.mimeTypes = this.mimeTypes + types.libreOffice.join() 
        this.mimeTypes = this.mimeTypes + types.images.join() 
        this.mimeTypes = this.mimeTypes + types.video.join() 
        this.mimeTypes = this.mimeTypes + types.audio.join() 
        this.mimeTypes = this.mimeTypes + types.other.join();
    },
    methods: {
        createOutput(){
            return {
                newAttachments: this.owner.attachments,
                deletedAttachments: this.deletedAttachments
            };
        },
        attachmentSelect (event) {
            const files = [...event.target.files].map(f => ({ file: f, id: uuidv4(), mime: f.type, name: f.name, size: f.size }));
            this.owner.attachments = [...this.owner.attachments, ...files];
            this.generateAttachments();
            event.target.value = '';
        },
        generateAttachments () {
            Promise.all(this.owner.attachments.map(img => {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.onload = e => resolve({ src: e.target.result, ...img  });
                    reader.readAsDataURL(img.file);
                });
            })).then(attachments => {
                this.newAttachments = attachments;
                this.$emit('output', this.createOutput());
            });
        },
        removeNewAttachment (attachment) {
            const id = attachment.id;
            this.newAttachments = this.newAttachments.filter(p => p.id != id);
            this.owner.attachments = this.owner.attachments.filter(i => i.id != id);
            this.$emit('output', this.createOutput());
            this.formatImagesForGallery();  
        },
        removeExistingAttachment (attachment, idx) {
            this.deletedAttachments.push(this.owner.attachmentsIds[idx]);
            this.owner.attachmentsIds.splice(idx, 1);
            this.existingAttachments.splice(idx, 1);
            this.$emit('output', this.createOutput());
            this.formatImagesForGallery();  
        },    
        formatImagesForGallery: function(){  
            let types = this.$config.mimeTypes;
            this.formattedImages = [];  

            this.existingAttachments.forEach(a=>{
                if (types.images.includes( a.mime )){ 
                    this.formattedImages.push({imageUrl: this.$config.backendUrl + '/' + a.link, ...a});
                }
            }) 

            this.newAttachments.forEach(a=>{
                if (types.images.includes( a.mime )){ 
                    this.formattedImages.push({imageUrl: a.src, ...a});
                }
            })
        },
        showImage: function(idx, type){  
            this.formatImagesForGallery();
            if (type == 'new') idx = this.existingAttachments.length + idx;

            this.allAttachments = this.existingAttachments.concat(this.newAttachments);
            this.formattedImages.forEach((image, index)=>{ 
                    if (image.id == this.allAttachments[idx].id){
                        this.index = index;
                    }
                })
        },
        isNewImage(idx){
            return this.$config.mimeTypes.images.includes( this.newAttachments[idx].mime );
        },
        isExistingImage(idx){
            return this.$config.mimeTypes.images.includes( this.existingAttachments[idx].mime );
        },
        downloadItem (file) {
            this.$http.get(this.$config.backendUrl + '/' + file.link, { responseType: 'blob' })
                .then(({ data }) => {
                    let blob = new Blob([data], { type: file.mime })
                    let link = document.createElement('a')
                    link.href = window.URL.createObjectURL(blob)
                    link.download = file.name
                    link.click()
                })
                .catch(error => {
                    console.error(error)
                })
        },
        cutFileName (fileName) {
            let re = /(?:\.([^.]+))?$/;
            let ext = re.exec(fileName)[1];    
            let name = fileName.substr(0, fileName.lastIndexOf(ext)-1);
            name.length > 6 ? name = name.substr(0, 6) + `...` : null;
            fileName = name + `.${ext}`;
            return fileName;
        }
    },
    watch: {
        'inputAttachments':{
            handler: function (newVal) { 
                if (newVal){
                    this.existingAttachments = newVal.slice(0);
                    newVal.forEach( a => {
                        this.owner.attachmentsIds.push(a.id);
                    });
                }
            },
            deep: true,
            immediate: true
        }
    }
}
</script>

<style scoped>
    #loadAttachment {
        display: none;
        padding-top: 0;
    }
    .attachment {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        padding: 0;
        position: relative;
    }
    .attachment {
        margin-right: 15px;
        display: inline-grid;
        border: 2px solid #EFEFEF;
        overflow: hidden;
    }
    .attachment.load {
        border: 2px solid #ffffff;
        transition: .3;
        margin-right: 15px;
        margin-left: 0;
    }
    .attachment.load:hover {
        box-shadow: none;
        border: 2px solid #EFEFEF;
    }
    .attachment > label {
        width: inherit;
        height: inherit;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .attachment > a {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        color: #ed7575;
        cursor: pointer;
        transition: color 0.3s linear;
    }
    .attachment > a:hover {
        color: #e63232;
    }
    .attachments {
        margin-bottom: 0px;
    }
    .load{
        margin-right: -5px;
    }
    .a-close{
        position: absolute;
        z-index: 1;
    }
    .img-attachment{
        position: absolute;
        cursor: pointer;
        font-size: 2em;
    }
    .file-thumbnail-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .file-thumbnail-text {
        position: absolute;
        top: 125%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 0.25em;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
</style>