<template>
    <div id="app">
        <div class="wrap">
            <b-navbar class="light" toggleable="md">
                <b-container>
                    <b-navbar-brand :to="'/'">Меняю город</b-navbar-brand>
                    <b-nav-toggle target="nav_collapse"></b-nav-toggle>
                    <b-collapse is-nav id="nav_collapse" type="light">
                        <b-navbar-nav class="ml-auto">
                            <b-nav-item link-classes="btn-orange" v-if="$auth.check()" :to="{name: 'problem_create'}">Сообщить о проблеме</b-nav-item>
                            <b-nav-item link-classes="btn-blue" v-if="$auth.check()" :to="{name: 'account'}">Личный кабинет</b-nav-item>
                            <b-nav-item link-classes="btn-blue" v-if="$auth.check()" v-on:click="appLogout">Выйти</b-nav-item>

                            <b-nav-item v-if="!$auth.check()" :to="{name: 'login'}">Вход</b-nav-item>
                            <b-nav-item v-if="!$auth.check()" :to="{name: 'register'}">Регистрация</b-nav-item>
                        </b-navbar-nav>
                    </b-collapse>
                </b-container>
            </b-navbar>
            <div id="main-content">
                <router-view></router-view>
            </div>
        </div>
        <footer class="footer">
            <div class="container">

            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {

            }
        },
        sockets: {
            connect: function() {
                this.$socket.emit('authenticate', {token: this.$auth.token()});
                console.log('socket connected');
            },
            disconnect: function () {
                console.log('socket disconnected');
            },
            authorized: function () {
                console.log('user authorized');
            },
            unauthorized: function () {
                console.log('socket unauthorized');
                this.$socket.disconnect();
            }
        },
        methods: {
            appLogout: function (e) {
                e.preventDefault();
                //this.$socket.emit('logout');
                this.$auth.logout({
                    makeRequest: false,
                    data: {},
                    success: function () {},
                    error: function () {},
                    redirect: '/login',
                });
            }
        }
    }
</script>
<style lang="scss">
    $fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
    @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

    $orange : #FFA26B;
    $blue : #0084F4;

    .light {
        background: #fff;
    }

    .btn-orange {
        background: $orange;
        color: #fff!important;
        border: 1px solid $orange;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    .btn-blue {
        border: 1px solid $blue;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #333!important;
    }
</style>
<style>
    body {
        background: #FAFAFA;
    }

    #app {
        font-family: 'Montserrat', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

</style>
